<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__inner">
          <div class="footer__brand">
            <a href="{{ site.baseurl }}/" class="footer__logo">
              {% if site.data.settings.logo_white and site.data.settings.logo %}
                <img src="{{ site.baseurl }}{{ site.data.settings.logo_white }}" alt="{{ site.data.settings.title }}" class="footer__logo-image footer__logo-image--dark">
                <img src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}" class="footer__logo-image footer__logo-image--light">
              {% elsif site.data.settings.logo_white %}
                <img src="{{ site.baseurl }}{{ site.data.settings.logo_white }}" alt="{{ site.data.settings.title }}" class="footer__logo-image">
              {% else %}
                <span class="footer__site-name">{{ site.data.settings.title }}</span>
              {% endif %}
            </a>
            {% if site.data.settings.footer_tagline %}
            <p class="footer__tagline">{{ site.data.settings.footer_tagline }}</p>
            {% endif %}
          </div>

          {% if site.data.settings.social %}
          <div class="footer__social">
            <span class="footer__social-label">Follow Us</span>
            <ul class="social__list list-reset">
              {% for social in site.data.settings.social %}
              <li class="social__item">
                <a class="social__link" href="{{ social.link }}" target="_blank" rel="noopener" aria-label="{{ social.label }} link"><i class="ion {{ social.icon }}"></i></a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>

        <div class="footer__bottom">
          <div class="copyright">&copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.data.settings.title }}</a>. All rights reserved.</div>
          <div class="footer__links">
            {% for item in site.data.settings.menu__settings.menu__items %}
              <a href="{{ item.url | relative_url }}" class="footer__link">{{ item.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->