// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.6;

// Headings
$heading-font-weight: 800;
$heading-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  42px;
$font-size-h2:  32px;
$font-size-h3:  26px;
$font-size-h4:  22px;
$font-size-h5:  18px;
$font-size-h6:  15px;

$heading-line-height: 1.2;
$heading-letter-spacing: -0.5px;

// Breakpoints
$desktop: 1024px;
$tablet:  768px;
$mobile:  576px;